@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

input {
  outline: none;
}

/* 스크린리더용 클래스 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* global.css 또는 해당되는 CSS 파일 */
@keyframes infiniteAnimation1 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  50.0001% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes infiniteAnimation2 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-200%);
  }
}

@keyframes infiniteAnimation3 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(100%);
  }
  50.0001% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes infiniteAnimation4 {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-00%);
  }
}

.animate-infiniteAnimation1 {
  animation-name: infiniteAnimation1;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.animate-infiniteAnimation2 {
  animation-name: infiniteAnimation2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.animate-infiniteAnimation3 {
  animation-name: infiniteAnimation3;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.animate-infiniteAnimation4 {
  animation-name: infiniteAnimation4;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
